/* == google fonts>Work Sans  == */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

/* ==  menu-container == */

header{
    background-color: rgba(255, 144, 14, 0.10);;
}

.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

ul{
    display: flex;
    gap: 30px;

}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
}

nav a{
    text-decoration: none;
    color: #080808;
    

}
/* ======= */



/* ===  banner === */

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container{
    text-align: center;
    justify-content: space-around;
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 20px;
    
}

.banner-description{
    color: #727272;
    text-align: center;
    margin: 20px;
}

.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 2px;
    padding: 20px 25px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .banner img{
    width: 80%;
    margin: 20px;
  
}

/* ======= */



/* == main-section start === */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.our-features-container{
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.our-teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    box-shadow: 5px 0px 10px 10px #888888;
    
}

.features-container{
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
}

.list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.of-our{
    font-size: 2.8rem;
    font-weight: 700;
}

.features{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.features-description{
    color: #727272;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/* ======== */



/* == Features you will
love & enjoy == */

.features-enjoy-container{
    display: flex;
    margin-top: 140px;
    gap: 130px;
}

.features-enjoy-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
    
}

.features-enjoy-description{
    color: #727272;
    margin-top: 16px;
    margin-bottom: 30px;
}

.features-enjoy-item{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-enjoy-item-title-description{
    color: #727272;
    margin-top: 10px;
    margin-bottom: 16px;

}

.features-enjoy-image{
    height: 100%;
 }

.ten-years{
    border-radius: 8px;
    background: #FF900E;
    width: 340px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-title{
    font-size: 4rem;
    margin: 0;
    color: #FFF;
    text-align: center;
  }

  .ten-years-description{
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    margin: 24px;
  }

.some-facts-item{
    text-align: left;
    margin-left: 80px;
}

.some-facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin: 45px 0px 30px 0px ;
}
.some-facts-description{ 
    color: #727272;
    margin: 16px 0px 36px 0px ;

}

.card-item{
    display: flex;
    justify-content: space-around;
    
}

.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
  }

.card-title{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

  }

.card-description{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

/* ---Our Sponsors ----- */

.our-sponsors-container{
    align-items: center;
}


.our-sponsors-item{
    margin-top: 100px;
    text-align: center;
}

.our-sponsors-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

  .our-sponsors-description{
    color: #727272;
    margin: 16px 0px 16px;

    }
  .sponsors-item{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    gap: 40px;





  }


/* contact */


.contact-containe{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    padding: 40px 0px 40px;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.10);
}

.btn-input{
    display: flex;
    flex-direction: column;
    width: 390px;
    gap: 20px;
    padding: 10px;
    margin: 3px 0px 5px;
    border-radius: 5px;
    
}

.btn-input-message{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    
 
    
}

.contact-us{
    align-items: center;
}

.useful-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.useful-links a{
    text-decoration:none;
    color: #000;
}

.images img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}


/* ======= */




/* ==  mobile ==== */

@media screen and (max-width: 576px){
    .menu-container{
        flex-direction: column;
    }

    ul{
        gap: 4px;
        padding-left: 20px;
        padding-top: 30px;
    }

    .banner img, .features-enjoy-image img{
        width: 100%;
    }

    .banner-title{
         font-size: 3.4rem;     
    }

    .btn-primary{
        font-size: 1.10rem;
         padding: 18px 20px;
    }

    .our-teams-img{
            grid-template-columns: 1fr;
            
    }

    .our-features-container{
            flex-direction: column;
            flex-direction: column-reverse;
    }

    .features-container{
            margin-bottom: 30px;
            padding-bottom: 30px;
    }


    .features-enjoy-container{
            flex-direction: column;
            gap: 50px;
    }

    .features-enjoy-title{
        margin-left: 10px;
    }

    .features-enjoy-description{
        margin: 25px;
    }
    
    .ten-years{
        width: 80%;
    }

    .card-item {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .our-sponsors-description{
        margin: 10px;
    }

    .sponsors-item{
        flex-direction: column;
        padding: 10px;
        gap: 50px;
    }

    .sponsors-item img{
        width: 180px;
        padding-left: 90px;
    }
    
}
/* ======================= */


/* ==  tab/labtop ==== */


@media screen and (min-width: 576px) and (max-width: 992px){
    .our-features-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .features-container{
            margin-bottom: 40px;
            padding-bottom: 40px;
    }

    .features-enjoy-container{
        flex-direction: column;
        margin-top: 140px;
        gap: 130px;
     }

    .features-enjoy-image img{
        width: 100%;
       
     }

     .features-enjoy-title{
        margin-left: 25px;
    }

    .features-enjoy-description{
        margin: 25px;
    }

     .card-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        padding: 20px;
        gap: 20px;
    }

    .our-sponsors-description{
        margin: 10px;
    }

    .sponsors-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr) 150px;
        padding: 50px;
        border: 2px solid #FF900E;
        border-radius: 8px;
        margin: 40px;
        
    }



}